<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver

        </property>



        <property name = "hibernate.connection.url">
            jdbc:mysql://remotemysql.com:3306/KYMb02vi2Z
        </property>

        <property name = "hibernate.connection.username">
            KYMb02vi2Z
        </property>

        <property name = "hibernate.connection.password">
            1XwCL2LUOA
        </property>

        <mapping class="Patient"/>
        <mapping class="PatientPhone"/>
        <mapping class="PatientEmailAddress"/>
        <mapping class="Patient_Address"/>
        <mapping class="Doctor"/>
        <mapping class="Staff"/>
        <mapping class="Nurse"/>
        <mapping class="Room"/>
        <mapping class="Appointment"/>


        <!-- List of XML mapping files -->
        <!-- <mapping resource = "Employee.hbm.xml"/> -->

    </session-factory>
</hibernate-configuration>